[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pycryptodome = "*"
ndr = {file = "https://github.com/vphpersson/ndr/tarball/master"}
pyutils = {file = "https://github.com/vphpersson/pyutils/tarball/master"}


[requires]
python_version = "3.8"
